version: '3.8'
services:
  falco:
    image: falcosecurity/falco:latest
    privileged: true
    command: ["falco", "-o", "json_output=true", "-o", "json_include_output_fields_property=true"]
    ports:
      - "8765:8765"
    environment:
      - FALCO_HOSTNAME=falco
    volumes:
      - ./falco/falco.yaml:/etc/falco/falco.yaml:ro
      - ./falco/custom_rules.yaml:/etc/falco/falco_rules.local.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock

  exporter:
    build: .
    command: python prometheus/exporter.py
    environment:
      - FALCO_CONTAINER=falco
    ports:
      - "9876:9876"
    depends_on:
      - falco
    volumes:
      - ./:/app

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - exporter

  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana/dashboards
